body{
  background: url(https://www.tonica.la/export/sites/debate/img/2021/05/12/makima-chainsaw-man.jpg_1663081580.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  }
svg {
  color: black;
}

.ant-btn {
  border: none;
  background-color: transparent;
}
